### **In this study, I will apply data cleaning and feature extraction methods on Amazon Reviews dataset**

In [ ]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9673 sha256=773a53037a5ebea1019e5b8472944368d5ca0995a69969889dffa4438e286f19
  Stored in directory: /root/.cache/pip/wheels/a1/b6/7c/0e63e34eb06634181c63adacca38b79ff8f35c37e3c13e3c02
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [ ]:
!wget --header="Host: storage.googleapis.com" --header="User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.131 Safari/537.36" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9" --header="Accept-Language: en-US,en;q=0.9" --header="Referer: https://www.kaggle.com/" "https://storage.googleapis.com/kaggle-data-sets/18/2157/bundle/archive.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20210811%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20210811T124234Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=1242872806852cc7415b2f5194d78fa99e9cf969e885859d715fffd2f8008ffb45cc59b16838fc313d415cf3fea377a5991a92b11a300b01de83d3447b857040670c400efa7767b3d749325f0ea548637235f0356ce2d77c49d0a41470202f33a25b103a118cfa4849996dc4a6a31ef7f877bb7c9791540a201bde5ad5bb9a097e173b8425655dfc1a0c5ad277c6b872435aac7c48d01c6a03016c0aee593c355c137e0764291f4b717e9bd76baa448cbc44ff840e0b99ff416b3c1f84c3c014b604d0bc45e01e0b2e4877cc8a84188dc845abf43bfb7610943aaf429f4b343af431136c0e7372f30b9b1b0266d9ee094d463f84c2d648e77443930807c2bf55" -c -O 'archive.zip'

--2021-08-11 12:43:53--  https://storage.googleapis.com/kaggle-data-sets/18/2157/bundle/archive.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20210811%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20210811T124234Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=1242872806852cc7415b2f5194d78fa99e9cf969e885859d715fffd2f8008ffb45cc59b16838fc313d415cf3fea377a5991a92b11a300b01de83d3447b857040670c400efa7767b3d749325f0ea548637235f0356ce2d77c49d0a41470202f33a25b103a118cfa4849996dc4a6a31ef7f877bb7c9791540a201bde5ad5bb9a097e173b8425655dfc1a0c5ad277c6b872435aac7c48d01c6a03016c0aee593c355c137e0764291f4b717e9bd76baa448cbc44ff840e0b99ff416b3c1f84c3c014b604d0bc45e01e0b2e4877cc8a84188dc845abf43bfb7610943aaf429f4b343af431136c0e7372f30b9b1b0266d9ee094d463f84c2d648e77443930807c2bf55
Resolving storage.googleapis.com (storage.googleapis.com)... 142.250.141.128, 142.251.2.128, 74.125.137.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.250.141.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 253873708 (242M) [application/zip]
Saving to: ‘archive.zip’

archive.zip         100%[===================>] 242.11M   116MB/s    in 2.1s

2021-08-11 12:43:56 (116 MB/s) - ‘archive.zip’ saved [253873708/253873708]

In [ ]:
!unzip archive

Archive:  archive.zip
  inflating: Reviews.csv
  inflating: database.sqlite
  inflating: hashes.txt

# Amazon Fine Food Reviews Analysis


Data Source: https://www.kaggle.com/snap/amazon-fine-food-reviews <br>

EDA: https://nycdatascience.com/blog/student-works/amazon-fine-foods-visualization/


The Amazon Fine Food Reviews dataset consists of reviews of fine foods from Amazon.<br>

Number of reviews: 568,454<br>
Number of users: 256,059<br>
Number of products: 74,258<br>
Timespan: Oct 1999 - Oct 2012<br>
Number of Attributes/Columns in data: 10 

Attribute Information:

1. Id
2. ProductId - unique identifier for the product
3. UserId - unqiue identifier for the user
4. ProfileName
5. HelpfulnessNumerator - number of users who found the review helpful
6. HelpfulnessDenominator - number of users who indicated whether they found the review helpful or not
7. Score - rating between 1 and 5
8. Time - timestamp for the review
9. Summary - brief summary of the review
10. Text - text of the review


#### Objective:
Given a review, determine whether the review is positive (Rating of 4 or 5) or negative (rating of 1 or 2).

<br>
[Q] How to determine if a review is positive or negative?<br>
<br> 
[Ans] We could use the Score/Rating. A rating of 4 or 5 could be cosnidered a positive review. A review of 1 or 2 could be considered negative. A review of 3 is nuetral and ignored. This is an approximate and proxy way of determining the polarity (positivity/negativity) of a review.

In [ ]:
import pandas as pd
import numpy as np
!pip install -q wordcloud
import wordcloud
from nltk.corpus import stopwords
import nltk
import string
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
stop = stopwords.words('english')
import re
import string

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

In [ ]:
df = pd.read_csv('Reviews.csv')
df.head(2)

   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...
1   2  ...  Product arrived labeled as Jumbo Salted Peanut...

[2 rows x 10 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568454 entries, 0 to 568453
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      568454 non-null  int64
 1   ProductId               568454 non-null  object
 2   UserId                  568454 non-null  object
 3   ProfileName             568438 non-null  object
 4   HelpfulnessNumerator    568454 non-null  int64
 5   HelpfulnessDenominator  568454 non-null  int64
 6   Score                   568454 non-null  int64
 7   Time                    568454 non-null  int64
 8   Summary                 568427 non-null  object
 9   Text                    568454 non-null  object
dtypes: int64(5), object(5)
memory usage: 43.4+ MB

In [ ]:
df.describe().round(1)

             Id  HelpfulnessNumerator  ...     Score          Time
count  568454.0              568454.0  ...  568454.0  5.684540e+05
mean   284227.5                   1.7  ...       4.2  1.296257e+09
std    164098.7                   7.6  ...       1.3  4.804331e+07
min         1.0                   0.0  ...       1.0  9.393408e+08
25%    142114.2                   0.0  ...       4.0  1.271290e+09
50%    284227.5                   0.0  ...       5.0  1.311120e+09
75%    426340.8                   2.0  ...       5.0  1.332720e+09
max    568454.0                 866.0  ...       5.0  1.351210e+09

[8 rows x 5 columns]

In [ ]:
# Determine how many missing values exist in the collection, in which case you can use .sum() chained onto is.na()
null_values=df.isna().sum()
null_values=pd.DataFrame(null_values,columns=['null'])
sum_tot=len(df)
null_values['percent']=null_values['null']/sum_tot*100
round(null_values,3).sort_values('percent',ascending=False)

                        null  percent
Summary                   27    0.005
ProfileName               16    0.003
Id                         0    0.000
ProductId                  0    0.000
UserId                     0    0.000
HelpfulnessNumerator       0    0.000
HelpfulnessDenominator     0    0.000
Score                      0    0.000
Time                       0    0.000
Text                       0    0.000

We have small number of missing values. We can drop them completely.

In [ ]:
df= df.dropna()
df.shape

(568411, 10)

# Basic Feature Extraction - 1

Normally, I tried to make data cleaning first. Then, I realized that while making data cleaning, I am losing some of characters that can help data cleaning. Therefore, there will be two part of feature extraction. Here, I will extract features that can't be exracted after data cleaning.

In [ ]:
df['stopwords'] = df['Text'].apply(lambda x: len([x for x in x.split() if x in stop]))
df[['Text','stopwords']].head()

                                                Text  stopwords
0  I have bought several of the Vitality canned d...         21
1  Product arrived labeled as Jumbo Salted Peanut...         12
2  This is a confection that has been around a fe...         42
3  If you are looking for the secret ingredient i...         15
4  Great taffy at a great price.  There was a wid...         12

2. Number of Punctuation

In [ ]:
def count_punct(text):
    count = sum([1 for char in text if char in string.punctuation])
    return count

df['punctuation'] = df['Text'].apply(lambda x: count_punct(x))

In [ ]:
df[['Text','punctuation']].head()

                                                Text  punctuation
0  I have bought several of the Vitality canned d...            3
1  Product arrived labeled as Jumbo Salted Peanut...            7
2  This is a confection that has been around a fe...           18
3  If you are looking for the secret ingredient i...            5
4  Great taffy at a great price.  There was a wid...            5

### 2) Number of hashtag characters

One more interesting feature which we can extract from a review is calculating the number of hashtags or mentions present in it. This also helps in extracting extra information from our text data.

In [ ]:
df['hastags'] = df['Text'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
df[['Text','hastags']].head()

                                                Text  hastags
0  I have bought several of the Vitality canned d...        0
1  Product arrived labeled as Jumbo Salted Peanut...        0
2  This is a confection that has been around a fe...        0
3  If you are looking for the secret ingredient i...        0
4  Great taffy at a great price.  There was a wid...        0

In [ ]:
df.hastags.loc[df.hastags != 0].count()

1414

### 3) Number of numerics
Calculate the number of numerics which are present in the tweets can be useful. At least, it doesn't hurt to have such a data!

In [ ]:
df['numerics'] = df['Text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
df[['Text','numerics']].head()

                                                Text  numerics
0  I have bought several of the Vitality canned d...         0
1  Product arrived labeled as Jumbo Salted Peanut...         0
2  This is a confection that has been around a fe...         0
3  If you are looking for the secret ingredient i...         0
4  Great taffy at a great price.  There was a wid...         0

### 4) Number of Uppercase words
Anger or rage is quite often expressed by writing in UPPERCASE words which makes this a necessary operation to identify those words.

In [ ]:
df['upper'] = df['Text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
df[['Text','upper']].head()

                                                Text  upper
0  I have bought several of the Vitality canned d...      1
1  Product arrived labeled as Jumbo Salted Peanut...      0
2  This is a confection that has been around a fe...      2
3  If you are looking for the secret ingredient i...      4
4  Great taffy at a great price.  There was a wid...      0

# **Text cleaning techniques**

### Make all text lower case

In [ ]:
df['Text'] = df['Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df['Text'].head()

0    i have bought several of the vitality canned d...
1    product arrived labeled as jumbo salted peanut...
2    this is a confection that has been around a fe...
3    if you are looking for the secret ingredient i...
4    great taffy at a great price. there was a wide...
Name: Text, dtype: object

### Removing Punctuation

In [ ]:
df['Text'] = df['Text'].str.replace('[^\w\s]','')
df['Text'].head()

0    i have bought several of the vitality canned d...
1    product arrived labeled as jumbo salted peanut...
2    this is a confection that has been around a fe...
3    if you are looking for the secret ingredient i...
4    great taffy at a great price there was a wide ...
Name: Text, dtype: object

### Removal of Stop Words

In [ ]:
df['Text'] = df['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df['Text'].sample(10)

524782    time realized tea nothing make nauseated 3 tea...
346063    cider really good option sugar free better col...
187558    cost lot shipped amazing cool pack arrives col...
158972    cookies great flavor love texture filling 6 pk...
274784    sadaf vinegar red wine 32oz seems watered vers...
24060     delicious snacks tastedit amazing serving size...
465953    im already big fan red leaf teas green apple m...
506067    seeing glowing reviews matcha try trying mango...
503433    like spicy ths use without ingredient make hot...
179523    good stuff used find warehouse store dont stoc...
Name: Text, dtype: object

### Removing URLs

In [ ]:
def remove_url(text):
    url = re.compile(r'https?://\S+|www\.\S+')
    return url.sub(r'', text)

In [ ]:
# remove all urls from df
df['Text'] = df['Text'].apply(lambda x: remove_url(x))

### Remove html tags

In [ ]:
def remove_html(text):
    html=re.compile(r'<.*?>')
    return html.sub(r'',text)

In [ ]:
# remove all html tags from df
df['Text'] = df['Text'].apply(lambda x: remove_html(x))

 ### Removing Emojis
Emojis can be indictor of some emotions that can be related to being customer satisfaction. Unfortunately, we need to remove the emojis in our text analysis

In [ ]:
# Reference : https://gist.github.com/slowkow/7a7f61f495e3dbb7e3d767f97bd7304b
def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags 
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [ ]:
#Example
remove_emoji("Omg another Earthquake 😔😔")

'Omg another Earthquake '

In [ ]:
# remove all emojis from df
df['Text'] = df['Text'].apply(lambda x: remove_emoji(x))

###Remove Emoticons

In previous steps, we have removed emoji. Now, going to remove emoticons. 

***What is the difference between emoji and emoticons?***

*   :-) is an emoticon
*   😜 → emoji.

In [ ]:
#!pip install emot

Collecting emot
  Downloading https://files.pythonhosted.org/packages/49/07/20001ade19873de611b7b66a4d5e5aabbf190d65abea337d5deeaa2bc3de/emot-2.1-py3-none-any.whl
Installing collected packages: emot
Successfully installed emot-2.1

In [ ]:
from emot.emo_unicode import UNICODE_EMO, EMOTICONS

# Function for removing emoticons
def remove_emoticons(text):
    emoticon_pattern = re.compile(u'(' + u'|'.join(k for k in EMOTICONS) + u')')
    return emoticon_pattern.sub(r'', text)

In [ ]:
#Example
remove_emoticons("Hello :-)")

'Hello '

In [ ]:
df['Text'] = df['Text'].apply(lambda x: remove_emoticons(x))

### Spell Correction

We’ve all seen tweets with a plethora of spelling mistakes. Our timelines are often filled with hastly sent tweets that are barely legible at times.

In that regard, spelling correction is a useful pre-processing step because this also will help us in reducing multiple copies of words. For example, “Analytics” and “analytcs” will be treated as different words even if they are used in the same sense.

To achieve this we will use the textblob library.

In [ ]:
from textblob import TextBlob
df['Text'][:5].apply(lambda x: str(TextBlob(x).correct()))

0    bought several vitality canned dog food produc...
1    product arrived labelled lumbo halted peanutst...
2    connection around centuries light pillow citie...
3    looking secret ingredient robitussin believe f...
4    great staff great price wide assortment mummy ...
Name: Text, dtype: object

In [ ]:
# We could do some of the cleaning steps as a sum of opreation like this:

# Apply a first round of text cleaning techniques
import re
import string

def clean_text_round1(text):
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

round1 = lambda x: clean_text_round1(x)

In [ ]:
df['Text'] = df.Text.apply(round1)
df.Text

0         bought several vitality canned dog food produc...
1         product arrived labeled jumbo salted peanutsth...
2         confection around centuries light pillowy citr...
3         looking secret ingredient robitussin believe f...
4         great taffy great price wide assortment yummy ...
                                ...
568449    great sesame chickenthis good better resturant...
568450    im disappointed flavor chocolate notes especia...
568451    stars small give  one training session tried t...
568452    best treats training rewarding dog good groomi...
568453    satisfied product advertised use cereal raw vi...
Name: Text, Length: 568411, dtype: object

In [ ]:
# Apply a second round of cleaning
def clean_text_round2(text):
    '''Get rid of some additional punctuation and non-sensical text that was missed the first time around.'''
    text = re.sub('[‘’“”…]', '', text)
    text = re.sub('\n', '', text)
    return text

round2 = lambda x: clean_text_round2(x)

In [ ]:
df['Text'] = df.Text.apply(round2)
df.Text

0         bought several vitality canned dog food produc...
1         product arrived labeled jumbo salted peanutsth...
2         confection around centuries light pillowy citr...
3         looking secret ingredient robitussin believe f...
4         great taffy great price wide assortment yummy ...
                                ...
568449    great sesame chickenthis good better resturant...
568450    im disappointed flavor chocolate notes especia...
568451    stars small give  one training session tried t...
568452    best treats training rewarding dog good groomi...
568453    satisfied product advertised use cereal raw vi...
Name: Text, Length: 568411, dtype: object

Let's check whether the frequent words make sense or not

In [ ]:
freq = pd.Series(' '.join(df['Text']).split()).value_counts()[:20]
freq

br         264689
like       251864
good       195348
one        172306
taste      166572
great      163560
coffee     160180
product    146439
flavor     142442
tea        133094
love       126635
food       123770
would      123356
get        108169
really     100414
dont        95555
much        91906
also        86099
little      83197
use         82743
dtype: int64

# Basic Feature Extraction - 2

###  Number of Words

In [ ]:
df['word_count'] = df['Text'].apply(lambda x: len(str(x).split(" ")))
df[['Text','word_count']].head()

                                                Text  word_count
0  bought several vitality canned dog food produc...          23
1  product arrived labeled jumbo salted peanutsth...          18
2  confection around centuries light pillowy citr...          40
3  looking secret ingredient robitussin believe f...          18
4  great taffy great price wide assortment yummy ...          13

### Number of characters

### Average Word Length

In [ ]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/(len(words)+0.000001))

In [ ]:
df['avg_word'] = df['Text'].apply(lambda x: avg_word(x)).round(1)
df[['Text','avg_word']].head()

                                                Text  avg_word
0  bought several vitality canned dog food produc...       6.2
1  product arrived labeled jumbo salted peanutsth...       6.6
2  confection around centuries light pillowy citr...       6.1
3  looking secret ingredient robitussin believe f...       6.2
4  great taffy great price wide assortment yummy ...       5.5

**Let's convert the 'time' column to a meaningful format**

In [ ]:
df.sample(5)

            Id   ProductId          UserId  ... word_count  char_count  avg_word
385196  385197  B005VOOM5E   AKAZT5193KFR1  ...         43         281       5.6
208682  208683  B0019VM5R0  A3KHDOLE6ERXDW  ...         17          91       5.8
59780    59781  B000HIHE2W  A1APZPQ6QQ5SCW  ...         50         347       6.1
181315  181316  B0002SQ4HS  A1GAZ691MAL3R2  ...         44         269       5.3
541719  541720  B001BM4RC8  A265Z64JO5KNSH  ...         42         265       5.3

[5 rows x 18 columns]

Lastly, we don't need 'ProfileName' feature because we already have 'UserId'. Therefore, we can drop 'ProfileName'

In [ ]:
df= df.drop('ProfileName', axis= 1)



---
##**Now, let's apply round 1 and round 2 data cleaning processes on 'Summary' column**

Keep in mind that round1 operations make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.

In [ ]:
df['Summary'] = df.Summary.apply(round1)
df.Summary

0                      good quality dog food
1                          not as advertised
2                        delight says it all
3                             cough medicine
4                                great taffy
                         ...
568449                   will not do without
568450                          disappointed
568451              perfect for our maltipoo
568452    favorite training and reward treat
568453                           great honey
Name: Summary, Length: 568411, dtype: object

And, round2 operations get rid of some additional punctuation and non-sensical text that was missed the first time around.

In [ ]:
df['Summary'] = df.Summary.apply(round2)
df.Summary

0                      good quality dog food
1                          not as advertised
2                        delight says it all
3                             cough medicine
4                                great taffy
                         ...
568449                   will not do without
568450                          disappointed
568451              perfect for our maltipoo
568452    favorite training and reward treat
568453                           great honey
Name: Summary, Length: 568411, dtype: object

Let's check whether most frequent words. We can add our own stopwords depending on it

In [ ]:
freq = pd.Series(' '.join(df['Text']).split()).value_counts()[:50]
freq

br           264689
like         251864
good         195348
one          172306
taste        166572
great        163560
coffee       160180
product      146439
flavor       142442
tea          133094
love         126635
food         123770
would        123356
get          108169
really       100414
dont          95555
much          91906
also          86099
little        83197
use           82743
time          80813
amazon        78312
buy           76200
tried         75818
best          75371
im            75265
even          74168
price         73469
find          73082
ive           72153
make          71412
well          70149
better        68827
try           67800
eat           66611
dog           66050
first         61370
water         58802
chocolate     58678
bag           55284
used          53932
found         53774
sugar         51845
cup           50632
drink         49927
sweet         49808
made          49755
bought        49699
think         48846
box           48504
dtype: int64

#Adding own stopwords

In [ ]:
# Adding common words from our document to stop_words

add_words = ["br",     
"also",     
"im",      
"ive",      
]

stop_words = set(stopwords.words("english"))
stop_added = stop_words.union(add_words)

In [ ]:
df['Text'] = df['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop_added))
df['Text'].sample(10)

457478    may best pretzels around think taste great gf ...
406219    reason cant find stores youngstown ohio area m...
239872    southwest instant veggie burger mix nutritious...
553778    good beans fair price drinking coffee large vo...
485165    every cat owned loved balls local stores stopp...
350071    calories serving tastes great quite sensitive ...
256684    start saying never enthusiastic fan tinned tun...
424962    huge fan curry dishes excited try disappointed...
131446    mms texture malted milk ball salty crunchy cen...
332619    product delivered within promised time frame s...
Name: Text, dtype: object

**Now, let's save this clened processed data as CSV file**

In [ ]:
df.to_csv('Amazon_reviews_processed.csv', index=False)